{% extends 'base.html' %}
{% load static %}
{% block title %}SEH | Logs{% endblock %}
{% block content %}
<h2>Search History</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Drive</th>
      <th scope="col">Query</th>
      <th scope="col">DateTime</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  	{% for i in logs %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.selected_disk}}</td>
      <td>{{i.search_query}}</td>
      <td>{{i.timestamp}}</td>
      <td>{{i.result}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
