{% extends 'base.html' %}
{% load static %}
{% block title %}SEH | Logs{% endblock %}
{% block content %}
<h2>Search Transactions</h2>
<form class="form" method="POST">{% csrf_token %}
	From <input type="date" name="from_date" class="form-control">
	To <input type="date" name="to_date" class="form-control"> <br>
	<input type="submit" value="Submit" class="btn btn-outline-success">
</form>

{% if transactions %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Drive</th>
      <th scope="col">Query</th>
      <th scope="col">DateTime</th>
      <th scope="col">Search Results</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  	{% for i in transactions %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.selected_disk}}</td>
      <td>{{i.search_query}}</td>
      <td>{{i.timestamp}}</td>
      <td>{{i.result}}</td>
      <td><a class="btn btn-danger" href="/delete-history/{{i.id}}/"><i class="bi bi-trash-fill"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
